@font-face
  font-family: 'Helvetica-bold'
  src: url('../../fonts/HelveticaNeue.eot')
  src: url('../../fonts/HelveticaNeue.woff') format('woff'),
       url('../../fonts/HelveticaNeue.ttf') format('truetype')
  font-weight: normal
  font-style: normal